<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_v1"
        android:label="Math Academy"
        android:roundIcon="@mipmap/icon_v1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADAssignment"
        tools:targetApi="31">
        <activity
            android:name=".LevelZero"
            android:exported="false" />
        <activity
            android:name=".FinalScore"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LevelOne"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LevelSelect"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HomePage"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>